@import "tailwindcss";

@theme {
  --color-primary: #3c37ff;
  --color-primary-500: #3c37ff;
  --color-primary-400: #514bfa;
  --color-primary-300: #6b69f5;
  --color-primary-100: #9d9be7;

  --color-gray: #0a0a0a;
  --color-gray-500: #0a0a0a;
  --color-gray-400: #171717;
  --color-gray-300: #262626;
  --color-gray-200: #737373;
  --color-gray-100: #fafafa;

  --color-error: #d41306;
}
